@model M17E_Caderneta.Models.User

@{
    ViewBag.Title = "Delete";
}

<h3 class="mt-5">Tem a certeza que deseja eliminar este utilizador?</h3>
<hr />
<div class="d-flex border shadow p-3 justify-content-between">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>

        <dd>
            @switch (Model.Perfil)
            {
                case 0:
                    @Html.Raw("Administrador")
                    break;

                case 1:
                    @Html.Raw("Professor")
                    break;
                case 2:
                    @Html.Raw("Aluno")
                    break;
                default:
                    @Html.Raw("Indefinido")
                    break;
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumInterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumInterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.Raw(Model.estado ? "Ativada" : "Desativada")
        </dd>
        @if (Model.Perfil == 2)
        {
            <dt>
                Turma
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Turma.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumTurma)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumTurma)
            </dd>
        }
    </dl>

    @if (Model.foto != null)
    {
        <div>
            @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.foto) + "\" class=\"img-thumbnail rounded\" style=\"height: 200px\" />")
        </div>
    }



</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color mt-4">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-secondary" })
    </div>
}