@model IEnumerable<M17E_Caderneta.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2 class="mt-5">Utilizadores</h2>

<div class="shadow border p-3 mt-4">
    <p>
        @Html.ActionLink("Criar novo utilizador", "Create",new { }, new { @class = "btn btn-success float-right mb-4"})
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Perfil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumInterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>
                    @Html.Raw("Turma")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumTurma)
                </th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @switch (item.Perfil)
                    {
                        case 0:
                            @Html.Raw("Administrador")
                            break;

                        case 1:
                            @Html.Raw("Professor")
                            break;
                        case 2:
                            @Html.Raw("Aluno")
                            break;
                        default:
                            @Html.Raw("Indefinido")
                            break;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumInterno)
                </td>
                <td>
                    @Html.Raw(item.estado ? "Ativada" : "Desativada")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Turma.Nome)
                </td>
                <td>
                    @if (item.NumTurma != 0)
                    {
                        @Html.DisplayFor(modelItem => item.NumTurma);
                    }

                </td>
                <td>
                    <a href="@Url.Action("Edit",new { id = item.Id })" class="mr-3" data-toggle="tooltip" data-placement="top" title="Editar"><i class="far fa-edit"></i></a>
                    <a href="@Url.Action("Details",new { id = item.Id })" class="mr-3" data-toggle="tooltip" data-placement="top" title="Detalhes"><i class="far fa-info-square text-warning"></i></a>
                    @if (User.Identity.Name != item.Id.ToString())
                    {
                        <a href="@Url.Action("Delete",new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="far fa-trash-alt text-danger"></i></a>
                    }
                </td>

            </tr>
            }
        </tbody>

    </table>
</div>