@model M17E_Caderneta.Models.Nota

@{
    ViewBag.Title = "Delete";
}

<h2 class="mt-5">Tem a certeza que dedeseja apagar esta nota?</h2>

<div class="shadow border p-3">
    <dl class="dl-horizontal">
        <dt>
            Professor(a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disciplina.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.Nome)
        </dd>

        <dt>
            Aluno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions mt-4">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-secondary" })
    </div>
}