
@{
    ViewBag.Title = "ForgotPassword";
}

<h2 class="mt-5">Recuperar Password</h2>

<div class="shadow border p-3">
    @if (Request["id"] == null)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Email da conta a recuperar")
                    <div>
                        @Html.TextBox("email", "", new { @class = "form-control", @placeholder = "Email" })
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Recuperar Password" class="btn btn-success" />
                </div>
            </div>
        }
    }
    else
    {
        using (Html.BeginForm("RecoverPassword", "Login",FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Nova password")
                    <div>
                        @Html.Password("password", "", new { @class = "form-control", @placeholder = "Nova Password" })
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Recuperar Password" class="btn btn-success" />
                    <input type="hidden" name="idrecuperar" value="@Request["id"].ToString()"/>
                </div>
            </div>
        }
    }
</div>